<!DOCTYPE html>
<html>
  <head>
    <title>Work View</title>
    <script>
      window.history.replaceState(null, 'Delete', ${target})
    </script>
  </head>
  <body>
    <table id="worklist">
      <tr>
        <th>Description</th>
        <th>Date Worked</th>
        <th>Hours Worked</th>
        <th>Actions</th>
      </tr>
      ${workList.map(work => `
      <tr>
        <td><a href="/worklog/${work.workId}">${work.description}</a></td>
        <td>${work.date}</td>
        <td>${work.hours}</td>
        <td>
          <a href="/editwork/${work.workId}">Edit</a>
          <a href="/deletework/${work.workId}">Delete</a>
        </td>
      </tr>
      `).join('')}
    </table>
    <a id="addworklog" href="/addwork">Add Work</a>
  </body>
</html>
