:root {
  --primary-color: hsl(266, 45%, 59%);
  --secondary-color: hsl(246, 38%, 66%);
  --dark-color: hsl(250, 27%, 17%);
  --light-color: hsl(30, 58%, 93%);
  --mid-color: hsl(276, 9%, 79%);
  --background-color: var(--dark-color);
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  line-height: 1.5;
  max-width: 1700px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
  transition: 0.15s;
}

h1 {
  font-size: 24px;
}

.box {
  min-width: 100%;
  min-height: 100dvh;
}

.profile {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: var(--dark-color);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 1rem;
  text-align: center;
}
.nav {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  fill: var(--mid-color);
}
.nav:hover {
  transform: scale(1.1);
}
.content {
  display: flex;
  align-items: top;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 1rem;
  flex: 1;
}
.footer {
  background-color: var(--dark-color);
  color: var(--mid-color);
  padding: 1rem;
  text-align: center;
  min-height: 10rem;
}

#calendar {
  color: var(--mid-color);
  max-width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--dark-color);
  border-radius: 0.5rem;
}

.main {
  flex: 1;
  background-color: var(--mid-color);
  color: var(--dark-color);
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}
.main h2 {
  color: var(--dark-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.main p {
  color: var(--dark-color);
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
.logo {
  color: var(--light-color);
  fill: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.amount {
  display: flex;
  font-size: 4rem;
  justify-content: left;
  align-items: center;
}
.pound {
  fill: var(--dark-color);
}

.calendar-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.default-button {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 0.5rem 1rem;
  border: var(--light-color) 3px solid;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.5rem;
  transition-duration: 0.2s;
}

.default-button:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}
table {
  width: 100%;
  border: var(--light-color) 1px solid;
  border-radius: 1rem;
}
caption {
  min-width: 28rem;

}
td {
  padding: 0.5rem;
  text-align: center;
}
td:hover:not(.blank):not(.disabled) {
  background-color: var(--light-color);
  border-radius: 0.5rem;
  color: var(--dark-color);
  cursor: pointer;
}

td.selected {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-radius: 0.5rem;
  font-weight: 900;
}
td.disabled {
  color: var(--mid-color);
  opacity: 0.5;
}

td.today {
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 0.5rem;
  border: var(--light-color) 1px solid;
}
table caption {
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.5rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 0.5rem;
}

.modal {
  display: none;
  margin: auto;
  z-index: 1;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  margin: 10rem auto;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border-color: var(--dark-color);
  max-width: 50rem;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}
.close {
  color: var(--light-color);
  float: right;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
}
label {
  margin: 0.5rem;
}

input {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: var(--light-color) 1px solid;
}

button[type='submit'] {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: var(--light-color) 1px solid;
  cursor: pointer;
}
dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  border: none;
  padding: 1rem;
  background-color: var(--dark-color);
  color: var(--dark-color);
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}
.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.calendar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--light-color);
}
.back-button {
  background-color: var(--dark-color);
  fill: var(--light-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0;
  border: none;
  transition-duration: 0.2s;
}
.back-button:hover, .back-button:active {
  transform: scale(1.3);
}
.next-button {
  background-color: var(--dark-color);
  fill: var(--light-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0;
  border: none;
  transform: rotateY(180deg);
  transition-duration: 0.2s;
}

.next-button:hover, .next-button:active {
  transform: scale(1.3) rotateY(180deg);
  /* transform: rotateY(180deg); */
} 

#viewDayDialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);

}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0.5rem;
    font-size: larger;
  }
  .footer {
    min-height: 1rem;
  }
  .content {
    flex-direction: column-reverse;
  }
  .modal {
    width: 100%;
  }
  .modal-content {
    width: 100%;
  }
  .modal-content label {
    display: none;
  }
  /* dialog {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20rem;
  } */
  form {
    flex: 1;
    flex-direction: column;
  }
  caption {
    min-width: none;
  }
  table {
    width: auto;
  }
  table.calendar {
    width: 100%;
    padding: 0.25rem;
    margin: 0.25rem;
  }
  td {
    padding: 0.25rem;
    
  }
  .calendar-header {
    padding: 0.5rem;
    overflow: hidden;
    border: none;
  }
  input, select {
    width: 100%;
    padding-block: 1.75rem;
    font-size: larger;
  }
  .calendar-nav {
    font-size: larger;
    padding: 0.5rem;
  }
  .default-button {
    padding-block: 1.75rem;
    font-size: larger;
    width: 100%;
    margin: auto;
  }

  button[type='submit'] {
    padding-block: 1.75rem;
    width: 100%;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-weight: 900;
  }
}
