<div id="calendar" class="container">
  <h1>Calendar</h1>
  <p>Keep track of your work schedule</p>
  <div class="calendar-nav"></div>
  <table>
    <caption>
      <button
        id="prev-month"
        hx-get="/view/calendar/${prev.year}/${prev.month}"
        hx-target="#calendar"
      >
        Prev
      </button>
      <span id="current-month">${month} ${year}</span>
      <button
        id="next-month"
        hx-get="/view/calendar/${next.year}/${next.month}"
        hx-target="#calendar"
      >
        Next
      </button>
    </caption>
    <thead>
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
    </thead>
    <tbody>
      ${calendarTable}
    </tbody>
  </table>
</div>
