<div class="calendar-header">
  <table id="calendar">
    <caption>
      ${ date.month } ${ date.year }
    </caption>
    <thead>
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        ${ cal}
      </tr>
    </tbody>
  </table>
  <button
    onclick="document.getElementsByClassName('modal')[0].style.display = 'block';document.addEventListener('click', function(event) {if (event.target == document.getElementsByClassName('modal')[0]) {document.getElementsByClassName('modal')[0].style.display = 'none';}});"
  >
    Add
  </button>
</div>
