<!DOCTYPE html>
<html>
  <head>
    <title>My First Web Page</title>
  </head>
  <body>
    <h1>Hello, World!</h1>
    <form action="/editwork/${work.id}" method="post">
      <label for="description">Description:</label>
      <input type="text" name="description" value="${work.description}" />
      <label for="date">Date worked:</label>
      <input type="date" name="date" value="${work.date}" />
      <label for="hours">Hours worked:</label>
      <input type="number" name="hours" value="${work.hours}" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
