<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work Log Tasks</title>
  </head>
  <body>
    <header>
      <h1>Work Log Tasks</h1>
      <p>Tasks for ${work.description}</p>
    </header>
    <nav>
      <a href="/worklog/">Work Log</a>
    </nav>
    <main>
      <section id="task-list" data-id="${work.workId}">
        <h2>Tasks</h2>
        ${taskList.length == 0 ? `
        <p>No tasks found</p>
        ` : `
        <ul>
          ${taskList.map(task => `
          <li>
            <a href="/tasks/${task.taskId}">${task.description}</a>
            <button id="edit" data-id="${task.taskId}">Edit</button>
            <a id="delete" href="/tasks/delete/${task.taskId}">Delete</a>
          </li>
          `).join('')}
        </ul>
        `}
        <a id="addtask" href="/addtask/${work.workId}">Add Task</a>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 CleanLog</p>
    </footer>
  </body>
</html>
