<!DOCTYPE html>
<html>
  <head>
    <title>Work View</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/worklog.css" />
    <script src="/js/htmx.min.js"></script>
  </head>
  <body>
    <div>
      <header>
        <div id="logo">
          <a href="/"
            ><img
              src="/img/logo.png"
              alt="Cleaning Log"
              width="40rem"
              height="40rem"
            />
            <h1>Cleaning Log🎅🏻</h1>
          </a>
        </div>
        <div>Profile</div>
      </header>
      <nav>
        <a href="/tasks">Tasks</a>
        <a href="/user">User</a>
        <a href="/settings">Settings</a>
      </nav>
      <section>
        <div class="lozenge">
          <div id="month">
            <button class="arrow-back"></button>
            <h2>${date.month}</h2>
            <button class="arrow-forward"></button>
          </div>
          <h3>Hi ${name.first}!</h3>
          <p>Today is the ${date.day} of ${date.month}.</p>
          <p>
            You have worked
            <span style="font-weight: 600; font-size: 1.5rem"
              >${daysWorked}</span
            >
            days this month.
          </p>
          <div class="actions">
            <button hx-get="/view/fragments/addwork" hx-target=".lozenge">
              Log a day
            </button>
            <button>Show days</button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
